/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* font-family: "Poppins", sans-serif; */
/* font-family: "Playfair Display", serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray !important;
}

.nav-link {
  font-weight: 500 !important;
  color: #30540f;
}

.active {
  color: #0d1c00;
  border-bottom: 2px solid #0d1c00;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.nav-item {
  padding-left: 20px;
}

/* ====================================Header============================== */
.navbar {
  background: #0d1c00;
  padding: 0px;
}

.container-fluid {
  background: #9BCF53;
  padding: 8px;
}

/* ===============================footer============================== */
.footer {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 25px;
  background: #416D19;
  background: -webkit-linear-gradient(to right,
      #30540f,
      #0d1c00);
  background: linear-gradient(to right, #30540f, #0d1c00);
}

#copy {
  font-size: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer a:hover {
  color: #FFF67E;
  border-bottom: 1px solid #FFF67E;
}




/* =================================================  Page Not Found=============================================== */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: #0d1c00;
  border: 2px solid #0d1c00;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;




}