/* .container-fluid {
    background-color: #416d19;
    color: white;
    padding: 20px;
}

.row {
    margin: 0;
}

.col-md-3 {
    background-color: #9bcf53;
    padding: 20px;
}

.col-md-9 {
    background-color: #bfea7c;
    padding: 20px;
}

.form-control {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #9bcf53;
}

.form-control:focus {
    outline: none;
    border-color: #416d19;
}

.btn-primary {
    background-color: #416d19;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #9bcf53;
}

.btn-primary:focus {
    outline: none;
} */
