/* .container-fluid {
    background-color: #416d19;
    color: white;
    padding: 20px;
}

.row {
    margin: 0;
}

.col-md-3 {
    background-color: #9bcf53;
    padding: 20px;
}

.col-md-9 {
    background-color: #bfea7c;
    padding: 20px;
}

.text-center {
    color: #416d19;
}

.product-link {
    text-decoration: none;
}

.card {
    width: 18rem;
    margin: 10px;
    background-color: #bfea7c;
    border: 1px solid #416d19;
    border-radius: 5px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    color: #416d19;
    margin-bottom: 10px;
}

.card-text {
    color: #416d19;
    margin-bottom: 5px;
} 
*/
.card {
    width: 18rem;
    margin: 10px;
    background-color: #bfea7c;
    border: 1px solid #416d19;
    border-radius: 5px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    color: #416d19;
    margin-bottom: 10px;
}

.card-text {
    color: #416d19;
    margin-bottom: 5px;
}

.out-of-stock-label {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1; /* Ensure the label is above the image */
  }