/* .container-fluid {
    background-color: #416D19;
    color: white;
    padding: 20px;
}

.row {
    margin: 0;
}

.col-md-3 {
    background-color: #9BCF53;
    padding: 20px;
}

.col-md-9 {
    background-color: #BFEA7C;
    padding: 20px;
}

h1 {
    color: #416D19;
}

.table {
    background-color: #BFEA7C;
    border-radius: 5px;
}

.table th,
.table td {
    color: #416D19;
}

.table th {
    background-color: #9BCF53; /* Change background color of table header 
}

.btn-primary {
    background-color: #416D19;
    border-color: #416D19;
}

.btn-primary:hover {
    background-color: #305015;
    border-color: #305015;
}

.btn-danger {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
}

.btn-danger:hover {
    background-color: #E14C52;
    border-color: #E14C52;
} */
